@import "tailwindcss";

body {
  font-family: Overskrift, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-height: 100vh;
  color: antiquewhite;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

@font-face {
  font-family: Overskrift;
  src: url(./assets/fonts/Nunito-VariableFont_wght.ttf);
}